#btn {
	border: none;
	outline: none;
	width: 100px;
	height: 30px;
	text-align: center;
	padding: 5px 5px;
	margin: 10px 0px;
	background: #9a9999;
	font-size: 14px;
	color: rgb(255, 255, 255);
	cursor: pointer;
}

#div {
	width: 600px;
	height: 100px;
	background: #7b7b7b;
	color: #ffffff;
}